/* 对标签样式美化 */

/* input */
/* 隐藏原始的input[type="file"] */
#imageInput[type="file"] {
    position: relative;
    appearance: none;
    width: 100%;
    height: 150px;
    background: rgba(242, 242, 242, 0);
    border-radius: 10px;
    border: 2px solid rgba(233, 234, 238, 1);
    color: #989DAA;
    font-size: 14px;
    transition: all 1s;
    padding: 20px;
}

/* #imageInput { */
    /* opacity: 0;
    width: 0;
    height: 0; */
    /* display: none; */
/* } */

#customUploadButton {
    /* position: absolute;
    left: 0;
    top: 0; */
    height: 40%;
    width: 50%;
    color: #fff;
    border-radius: 10px;
    border: 2px solid #16b1f89f;
    padding: 20px;
    background-color: #16b1f89f;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#customUploadButton:hover {
    border: 2px solid #16b1f8;
    background-color: #16b1f8;
    height: 50%;
    width: 60%;
}

#imageInput::file-selector-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 40%;
    width: 50%;
    color: #fff;
    border-radius: 10px;
    border: 2px solid #16b1f89f;
    padding: 20px;
    background-color: #16b1f89f;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: all .5s;
}

#imageInput::file-selector-button:hover {
    border: 2px solid #16b1f8;
    background-color: #16b1f8;
    height: 50%;
    width: 60%;
}

/* 上传按钮 */
#uploadButton {
    height: 80px;
    width: 100%;
    color: #fff;
    border-radius: 10px;
    border: 2px solid #989daaa2;
    padding: 20px;
    background-color: #16b1f800;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: all .5s;
}

#uploadButton:hover {
    background-color: #4bda87c0;
}

/* 滚动条美化 */

/* ::-webkit-scrollbar // 滚动条整体部分
::-webkit-scrollbar-button // 滚动条两端的按钮
::-webkit-scrollbar-track // 外层轨道
::-webkit-scrollbar-track-piece // 内层轨道，滚动条中间部分（除去）
::-webkit-scrollbar-thumb // 滚动条里面可以拖动的那个
::-webkit-scrollbar-corner // 边角
::-webkit-resizer // 定义右下角拖动块的样式 */

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-button {
    opacity: 0;
    
}
::-webkit-scrollbar-thumb {
    background-color: rgba(45, 81, 158, 0.76);
    border-radius: 10px;
}
::-webkit-scrollbar-corner {
    opacity: 0;
}